*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}
.Ubody{
    width: 100%;
    background-image: url(Rectangle\ 15.png);
    background-repeat: no-repeat;
}
.Nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.Nav h3{
    color:#42A7C3 ;
    margin-left: 150px;
}
.Nav h3:hover{
    text-decoration: underline;
}
.Nav button{
    margin-right: 150px;
    background-color:#FA8443 ;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.Nav button:hover{
    text-decoration: underline;
}
.Nav-link{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
a{
    color: black;
}
a:hover{
    text-decoration: underline;
}
.one-p{
    display: flex;
    justify-content: center;
}
.one{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 80vh;
}
.first{
    width: 50%;
    padding-top: 150px;
    padding-left: 150px;
}
.second{
    width: 50%;
}
.two{
    margin-top: 300px;
    padding-left: 150px;
    min-height: 70vh;
}
.three{
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    margin-bottom: 300px;
}
.Both{
    background-image: url(Ellipse\ 22.png);
    background-repeat: no-repeat;
}
.last span{
    font-weight: bold;
    padding-left: 50px;
}
.footer img{
    width: 100%;
    height: 300px;
}
@media screen and (max-width: 500px) {
    .Nav{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
    }
    .one{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        min-height: 80vh;
    }
    .three{
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 300px;
        margin-bottom: 300px;
    }
}
